*{
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  text-align: center;
}

.containerCards{
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin-top: 100px;
}

.containerButton {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
}

.buttonMas{
  font-size: 17px;
}

.buttonMenos{
 font-size: 18px;
}

.buttonCart {
  display: flex;
  justify-content: center;
}